*{
    /* background-color: black; */
    color: rgb(255, 255, 255);
    text-align: center;
    /* font-size: x-large; */
    margin: 0%;
    padding: 0%;
    border-radius: 2%;
    text-decoration: none;
    /* background-color: black; */
}

html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}


img{
    width: 30%;
    height: auto;
}


.class_main{
    /* border: solid 2px rgb(255, 0, 0); */
    margin: 3% 3% 0% 3%;
    text-align: left;
    padding: 0%;
    background-color:rgb(106 106 106);
    width: 70%;
    display: flex;
    position: relative;
    left: 10%;
    /* flex-wrap: wrap; */
}
section{
    /* border: solid 2px red; */
    width: 70%;
    margin: 2%;
    
}

form {
    text-align: left;
    padding: 4%;
    background-color: transparent;
    font-size: x-large;
    margin-top: 15%;
    
}

form input, textarea{
    width: 85%;
    height: 35px;
    border-radius: 10px
    
}
textarea{
    height: 10%;
    border-color: rgb(255, 255, 255);
    margin: 2%;
    width: 85%;
}
div{
    display: block;
}
.btnn{
    /* background-color: #ff1010; */
    border: none;
    /* color: white; */
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 1px 2px;
    cursor: pointer;
    border-radius: 10px;
    
}
.btn1{
    margin: 2%;
    background-color: #105cff;
    width: 50%;
}
.btn2{
    margin: 2%;
    background-color: #ff1010;
}
.book_img{
    margin: 2%;
    border-radius: 4%;    
}
input{
    border-color: rgb(255, 255, 255);
    margin: 2%;
}
label{
    margin-bottom: 2%;
}
#price{
    width: 20%;
}
#book_div{
   
    background-color: #105cff00;
}


@media only screen and (max-width: 1360px) {

    *{
        /* background-color: blue; */
    }
    .class_main{
        display: flex;
        flex-wrap: wrap;
    }
    section{
        width: 100%;
    }
    .book_img{
        display: inline-block;
    }
    #book_div{
        text-align: center;
        width: 100%;
        background-color: #403f3f;
    }
    /* #book_div{
        width: 100%;
        display: flex;
        justify-content: center;   
    } */
    .btnn{
        /* background-color: #ff1010; */
       
        width: 50%;
    }
    textarea{
        
        width: 85%;
    }
}

